<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>OSCE Bank</title>
</head>
<style>
    ul{
        margin: 20px
    }
</style>
<body>
    <nav>
        <div class="nav-wrapper grey darken-2" >
          <a href="../../" class="brand-logo right" style="margin-right: 10px">Foundations of Clinical Medicine</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="../../">Home</a></li>
            <li><a href="../../basicscience">Basic Clinical Sciences</a></li>
            <li><a href="../">Clinical Medicine</a></li>
          </ul>
        </div>
      </nav>
    <div class="container">
        <h1>OSCE Bank</h1>
        <h4>About</h4>
        <p>The following is a bank of OSCE resources which can be used to practice history taking and physical examinations for medical students.</p>
    </div>
    <div class="container">
        <div class="contentList">
            <!-- <div class="general">
                <h5>General/Unclassified exams</h5>
                <ul>
                    {%for i in range(gen['id']|length) %}
                        <li><a href="./{{gen['id'][i]}}">{{gen['title'][i]}}</a></li>
                    {% endfor %}
                </ul>
            </div> -->
            <div class="procedural">
                <h5>Procedural exams</h5>
                <ul>
                    {%for i in range(proc['id']|length) %}
                        <li><a href="./{{proc['id'][i]}}">{{proc['title'][i]}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="msk">
                <h5>Musculoskeletal exams</h5>
                <ul>
                    {%for i in range(msk['id']|length) %}
                        <li><a href="./{{msk['id'][i]}}">{{msk['title'][i]}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="respiratory">
                <h5>Respiratory exams</h5>
                <ul>
                    {%for i in range(resp['id']|length) %}
                        <li><a href="./{{resp['id'][i]}}">{{resp['title'][i]}}</a></li>
                    {% endfor %}
                </ul>

            </div>
            <div class="haematology">
                <h5>Haematology exams</h5>
                <ul>
                    {%for i in range(haem['id']|length) %}
                        <li><a href="./{{haem['id'][i]}}">{{haem['title'][i]}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="cardiology">
                <h5>Cardiology exams</h5>
                <ul>
                    {%for i in range(cardio['id']|length) %}
                        <li><a href="./{{cardio['id'][i]}}">{{cardio['title'][i]}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="neurology">
                <h5>Neurological exams</h5>
                <ul>
                    {%for i in range(neuro['id']|length) %}
                        <li><a href="./{{neuro['id'][i]}}">{{neuro['title'][i]}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="endocrinology">
                <h5>Endocrinology and sexual health exams</h5>
                <ul>
                    {%for i in range(endo['id']|length) %}
                        <li><a href="./{{endo['id'][i]}}">{{endo['title'][i]}}</a></li>
                    {% endfor %}
                </ul>

            </div>
            <div class="renal">
                <h5>Renal exams</h5>
                <ul>
                    {%for i in range(renal['id']|length) %}
                        <li><a href="./{{renal['id'][i]}}">{{renal['title'][i]}}</a></li>
                    {% endfor %}
                </ul>

            </div>
            <div class="gastrointestinal">
                <h5>Gastrointestinal and Drug & Alcohol exams</h5>
                <ul>
                    {%for i in range(gastro['id']|length) %}
                        <li><a href="./{{gastro['id'][i]}}">{{gastro['title'][i]}}</a></li>
                    {% endfor %}
                </ul>

            </div>
            <div class="oncology">
                <h5>Oncology exams</h5>
                <ul>
                    {%for i in range(onc['id']|length) %}
                        <li><a href="./{{onc['id'][i]}}">{{onc['title'][i]}}</a></li>
                    {% endfor %}
                </ul>

            </div>
            <div class="paediatrics">
                <h5>Paediatric exams</h5>
                <ul>
                    {%for i in range(paed['id']|length) %}
                        <li><a href="./{{paed['id'][i]}}">{{paed['title'][i]}}</a></li>
                    {% endfor %}
                </ul>

            </div>
            <div class="obstetricsandgynae">
                <h5>Obstetrics and Gynaecology exams</h5>
                <ul>
                    {%for i in range(ong['id']|length) %}
                        <li><a href="./{{ong['id'][i]}}">{{ong['title'][i]}}</a></li>
                    {% endfor %}
                </ul>

            </div>

        </div>
    </div>
    <br/>
    <!-- <div class="container">
        <h4>Contributors:</h4>
        <ul>
            <li>Weber Liu</li>
            <li>Dr. Katie Nguyen</li>
            <li>Joseph Daniele</li>
            <li>Sam White</li>
            <li>Omar Hassan</li>
            <li>Ivan Jin</li>
        </ul>
    </div> -->
    <div class="container">
        <p> <b>Disclaimer: </b>Use these resources at your own risk. We, the authors and contributors take no responsibility for any misinformation provided within these
            exams and are not liable for any damages caused as a result of the use of these resources. By using this website, you take full responsibility of any repercussions
            which may result from the use of these resources.
        </p>
        <p><b>Contributions:</b> If you would like to contribute to this project, please contact us at OSCE+medicine.foundations@gmail.com</p>
        <br/>
    </div>

</body>
</html>